<div class="main_page_footer">
    <div class="main_page_footer_item">
        <img class="footer_img" src="/assets/images/general_svgs/footer_svgs/github.svg" alt="github"/>
        <a href="https://github.com/TIMAVICIIX" class="bold_text color_4_black normal_a">
            TIMAVICIIX
        </a>
    </div>
    <div class="main_page_footer_item">
        <img class="footer_img" src="/assets/images/general_svgs/footer_svgs/microsoftoutlook.svg" alt="mail"/>
        <a href="mailto:timaviciix@outlook.com" class="bold_text color_4_black normal_a">
            outlook交流
        </a>
    </div>
    <div class="main_page_footer_item">
        <img class="footer_img" src="/assets/images/general_svgs/footer_svgs/coffee.svg" alt="coffee"/>
        <a id="robo_coffee" class="bold_text color_4_black normal_a">
            请Robo喝杯咖啡?
        </a>
    </div>
</div>
<script src="../assets/js/gottya.js"></script>
<script src="../../../../assets/js/gottya.js"></script>
