---
---
@import "main_page_colors";
@import "general_colors";
@import "general_styles";
@import "general_shadows";
@import "main_page_styles";
@import "main_page_colors";
@import "search_page_styles";
@import "content_page_styles";

@font-face {
    font-family: "Ali_Ma";
    src: url("../fonts/AlimamaFangYuanTiVF-Thin-2.ttf") format("truetype");
}

@font-face {
    font-family: "Auto_Pen";
    src: url("../fonts/自动笔.ttf");
}